body {
    background-color: #021e47;
}

.header {
    text-align: center;
}

.header h1 {
    color: rgba(255, 255, 255, 0.548);
}

.header h2 {
    color: white;
}

.ms_form {
    padding: 3rem;
    color: black;
    background-color: white;
}

.user-password {
    color: white;
    text-align: center;
    margin-top: 40vh;
}